html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.content{
  width:100%;
  height:100%;
  padding-bottom: 55px;
  padding-top: 40px;
}