<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
{% block head %}
<meta charset="utf-8" />

<link type="text/css" rel="stylesheet" href="/css/style.css" />

<link rel="shortcut icon" href="/images/jiafei.ico" type="image/x-icon">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" charset="gb2312" src="/js/javascript.js"></script>
{% endblock %}
<title>竹辉便民服务站</title>
</head>
<body>
<div class = 'yemei'>
	{% block yemei %}
	<ul>
		<li>
            <a id="logo" href="/index.php">
		          <img src="/images/logo.png">
	        </a>
			<a class='shoucang' href=''onclick="javascript:window.external.AddFavorite('http://www.zhuhui.shop:81','竹辉便民服务站')"  >收藏本站</a>
		     &nbsp;&nbsp;&nbsp;
			<a class='shoucang'  onclick="this.style.behavior='url(#default#homepage)';this.setHomepage('http')" href='http://www.zhuhui.shop:81' >设为首页</a>
			<!-- 
				if(isset($_SESSION['username'])){
				
					echo "<div  class='yizhuce'><a>欢迎尊贵的会员:";echo $_SESSION['username'];echo"</a>";
					
				}
				else{
					echo "<a class='zhuce' href='/index.php/Home/user_add' >注册</a>
						 &nbsp;&nbsp;&nbsp;
				         <a class='dengru'  href='/index.php/Home/login' >登录</a>";
				}
			?>-->
		
	</ul>
	{% endblock %}
</div>
<div>
<div class = 'yejiao'>
	{% block yejiao %}			   
	|<a href='/index.php/about'>关于我们</a>|
	<a href='/index.php/about/contact'>联系我们</a>|
	<a>加入便民</a>|
	<a href='/index.php/about/contact'>产品建议</a>|
	<a href='/index.php/about/guanggao'>广告合作</a>|<br><br>
	<span>本站由全栈化十雨廷应用flask框架开发 </span>
	{% endblock %}
</div>
</body>
</html>