<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
输入框:<input id="inputVal" type="text" name='data'>
<button type="button" id='leave'>Click Me leave up!</button>
<div id='test'> </div>
<script type="text/javascript" charset="utf-8">
	//房号自己定义，不是同一房号接收不到信息
    var socket = io.connect('http://127.0.0.1:500/test');
	socket.emit('join',{'room':'1'});
    //发送消息
	$('#inputVal').keydown(function(event){ 
		if(event.keyCode==13){ 
			socket.emit('chat',{'msg':$('#inputVal').val(),'room':'1'});
		} 
		
	});
	
	$('#leave').click(function(){
		socket.emit('leave',{'room':'1'});
	})
	
	///监听回复的消息
	socket.on('join',function(data){
		console.log(data);
		document.getElementById('test').innerHTML = data.room
		//alert(data.count);	
	});
	
	//监听回复的消息
	socket.on('leave',function(data){
		console.log(data);
		document.getElementById('test').innerHTML = data.room
		//alert(data.count);	
	});
	
	///监听回复的消息
	socket.on('chat',function(data){
		console.log(data);
		document.getElementById('test').innerHTML = data.data
		//alert(data.count);	
	});
</script>